<link rel="stylesheet" href="/css/footer.css">
<section class="full_row py_80 bg_secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer_widget company_info">
                    <div class="widget_head logo_head"><a href="/"><img class="logo-bottom"
                                src="/img/logo-undertown.jpg" alt=""></a></div>
                    <p>UnderTown este o companie care merge în pas cu noile tendințe ale pieții. Folosim instrumente și
                        tehnologii inteligente pentru a ușura modul prin care agenții și clienții navighează în procesul
                        de găsire sau de vânzare a unei case.</p>
                    <div class="socail_media_1 mt-3">
                        <ul>
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer_widget get_in_touch">
                    <div class="widget_head">
                        <h4 class="widget_title">Hai sa ne cunoaștem</h4>
                    </div>
                    <ul>
                        <li> <i class="fas fa-map-marker-alt"></i>
                            <h6 class="text_white mb-2">Adresa biroului</h6>
                            <span>Piața Alba Iulia</span>
                        </li>
                        <li> <i class="fa fa-phone" aria-hidden="true"></i>
                            <h6 class="text_white mb-2">Sună-ne</h6>
                            <span>+40 727 971 584</span>
                        </li>
                        <li> <i class="far fa-envelope"></i>
                            <h6 class="text_white mb-2">Adresa de email</h6>
                            <span>undertown.ro@gmail.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer_widget quick_link">
                    <div class="widget_head">
                        <h4 class="widget_title">Linkuri utile</h4>
                    </div>
                    <ul>
                        <li><a href="/about">Despre companie</a></li>
                        <li><a href="/contact">Adaugă proprietatea</a></li>
                        <li><a href="/signup">Inregistrează-te</a></li>
                        <li><a href="https://www.imobiliare.ro/agentii/bucuresti/XASQ" target="_blank">Alte Oferte (Imobiliare.ro)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bottom Footer Start -->
<div class="full_row py-4 bg_black"> <span class="copyright_text text-center text_white d-block">Copyright &copy;
        Undertown.ro</span>
    <span class="copyright_text text-center text_white d-block">Developed by <a href="http://www.jianurares.com"
            target="_blank">jianurares.com</a></span>
</div>
<!-- Bottom Footer End -->