<select class="selectpicker form-control" name="property_type">
    <option value="" selected disabled>Tipul Proprietății</option>
    <% for(let prop of propertyTypes) { %>
    <option value="<%=prop%>"><%= prop %></option>
    <% } %>
</select>