<select class="selectpicker form-control" name="propertyType">
    <option value="" selected disabled>Tipul Proprietății</option>
    <% for(let prop of propertyTypes) { %>
    <option value="<%=prop[1]['dbValue']%>"><%= prop[1]['display'] %></option>
    <% } %>
</select>