<span>
    <% var formatter = new Intl.NumberFormat('ro-RO', {
        style: "currency",
        currency: "EUR",
        maximumSignificantDigits: 1
    })%>
    <%- formatter.format(price) %>
</span>