@media (max-width: 1730px) {
.bg_img_6 { /*about page section*/
	background-position: 135% center
}
}

@media (max-width: 1600px) {
.bg_img_6 { /*about page section*/
	background-position: 160% center
}
}

@media (max-width: 1450px) {
.bg_img_6 { /*about page section*/
	background-position: 188% center
}
}

@media (max-width: 1365px) {
.bg_img_6 { /*about page section*/
	background-position: 200% center
}
}

@media (max-width: 1300px) {
.bg_img_6 { /*about page section*/
	background-position: 245% center
}
}

@media (max-width: 1225px) {
.bg_img_6 { /*about page section*/
	background-position: 265% center
}
}

/*Large devices (desktops, 992px and up to 1199px)*/
@media (max-width: 1199px) {
.box-layout {
	width: 100% !important
}
#header .submit_property {
	display: none
}
.navbar-nav .dropdown-menu .dropdown ul.dropdown-menu {
	left: 0
}
.pricing_item_1.active {
	width: 350px;
	height: 105%
}
.property_list_1 .property_text {
	margin-bottom: 7px
}
.property_list_1.full .p-3 {
	padding: 25px 20px !important
}
.single_property_detail .more_information li, .property_listing_2.style_2 li {
	width: 50%
}
.bg_img_6 {
	background-image: none
}
.browse_submit > p {
	display: inline-block;
	width: 100%;
}
.sidebar-widget.faq_brochure .btn {
	padding: 5px 0;
	text-align: center
}
.my_property_list.type_2 tbody tr td:first-child {
	width: 220px;
}
}

@media screen and (min-width:992px) {
#header.fixed-top .top_header_1 {
	display: none
}
#header.fixed-top, #header.fixed-top.header_style_2 {
	position: fixed;
	animation-duration: 1s;
	animation-name: menu-sticky;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
#header .navbar .navbar-nav li > ul.dropdown-menu {
	visibility: hidden;
	display: block;
	top: 110%;
	opacity: 0;
	webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	border-color: transparent;
	border-radius: 0
}
#header .navbar .navbar-nav li:hover > ul.dropdown-menu {
	top: 100%;
	visibility: visible;
	opacity: 1;
	margin: 0
}
.mega_menu_dropdown .dropdown-menu {
    padding: 30px;
}
#header .navbar-nav .dropdown-menu .dropdown ul.dropdown-menu {
	top: 100% !important;
	left: 100%;
}
#header .navbar-nav .dropdown-menu .dropdown:hover ul.dropdown-menu {
	top: 0 !important
}
.full-page-map #header .navbar .navbar-nav li > ul.dropdown-menu {
	top: inherit;
	bottom: 110%
}
.full-page-map #header .navbar .navbar-nav li:hover > ul.dropdown-menu {
	bottom: 100%;
}
.full-page-map #header .navbar-nav .dropdown-menu .dropdown ul.dropdown-menu {
	display: inline-table
}
}

/*Medium devices (tablets, 768px and up to 991pz)*/
@media (max-width: 991px) {
.nav-on-top, .nav-on-banner {
	position: static
}
/*====================================================================
Home Page 1 Css Start
====================================================================*/
.dropdown_1 .bootstrap-select .dropdown-toggle, .dropdown_1 .show > .btn-light.dropdown-toggle {
	padding: 0 25px 0 10px
}
.dropdown_1 .bootstrap-select .dropdown-toggle::after, .dropdown_1 .show > .btn-light.dropdown-toggle::after {
	right: 10px !important
}
#header #navbarSupportedContent {
	padding: 20px 0;
}
#header.header_style_2 #navbarSupportedContent {
	padding: 20px
}
#header .navbar-light .navbar-brand, #header.header_style_2 .navbar-light .navbar-brand {
	padding: 10px 0
}
#header.fixed-top {
	position: static!important;
	background-color: inherit !important
}
#header.header_style_2.fixed-top {
	position: absolute !important;
	z-index: 9999;
	background-color: transparent !important
}
#header .nav-item .dropdown-menu, #header.header_style_2 .nav-item .dropdown-menu {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	padding-left: 15px;
}
#header .navbar-expand-lg .navbar-nav .nav-link, #header.header_style_2 .navbar-expand-lg .navbar-nav .nav-link {
	line-height: inherit;
	padding: 10px 0
}
#header .dropdown-toggle::after {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%)
}
#header .dropdown.visible .dropdown-toggle::after {
	top: 20px
}
.slider-search-2 {
	width: 100%;
}
.slider-search-2 .dropdown-toggle {
	margin-bottom: 20px
}
#map-banner.half-wide-map {
	display: inherit;
}
.half-wide-map #map, .search-fixed-right {
	width: 100%;
	float: inherit;
}
.property_list_1 .property_text {
	margin-bottom: 50px
}
.property_list_1 .zoom_effect_1 {
	width: 51%;
}
.property_list_1 p {
	display: none
}
.property_list_1.full .p-3 {
	padding: 20px !important;
}
.property_list_1.full .property_text {
	margin-bottom: 40px;
}
.property_listing_2 li {
	width: 50%
}
.mb_md_30 {
	margin-bottom: 30px
}
.mt_md_50 {
	margin-top: 50px
}
.pb_md_50 {
	padding-bottom: 50px !important
}
.pricing_item_1.active {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: table-caption
}
.footer_widget {
	margin-bottom: 30px
}
.single_blog_detail.p_20 {
	padding-left: 0;
	padding-right: 0
}
.check_submit li {
	width: 48%;
}
}

/*Small devices (landscape phones, 576px and up to 767px)*/
@media (max-width: 767px) {
/*====================================================================
Home Page 1 Css Start
====================================================================*/
.top_header_1 {
	display: none
}
.title_row .sub_title p {
	padding: 0
}
.filter-btns li {
	margin-bottom: 10px
}
.category_img.ctg_2 {
	height: 350px;
}
.property_sorting ul > li {
	display: none
}
.property_sorting ul > li:first-child {
	display: block
}
.property_list_1 {
	display: inherit
}
.property_list_1 .zoom_effect_1, .property_list_1 .property_list_details {
	width: 100%;
}
.icon_list_1 li {
	width: 50%
}
.property_search_area .bootstrap-select {
	width: 30% !important;
}
.property_search_area .input {
	width: 70%;
}
.property_listing_2 li {
	width: 100%
}
.reg_banner .btn {
	float: left;
	margin-top: 30px
}
.mt_sm_30 {
	margin-top: 30px
}
.mt_sm_50 {
	margin-top: 50px
}
.alert.alert-warning {
	display: none
}
.message_item .float-left {
	margin-top: 30px;
	width: 410px
}
.message_item .datetime {
	position: absolute;
	top: 15px;
	left: 90px
}
.message_item .datetime span {
	display: inline-block
}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
/*====================================================================
Home Page 1 Css Start
====================================================================*/
.slider-search-2 .btn {
	margin-top: 20px
}
.single_property_detail .more_information li, .icon_list_1 li, .property_listing_2.style_2 li {
	width: 100%;
}
.property_search_area .bootstrap-select, .property_search_area .input {
	width: 50% !important;
}
.check_submit li {
	width: 100%;
}
.award_item img {
	width: auto;
	margin-bottom: 30px
}
.pagination {
	display: inherit;
}
.pagination li {
	float: left;
	margin-bottom: 10px
}
.message_item .float-left {
	width: 70%
}
.my_property_list tbody tr td img {
	width: 30%;
	margin-right: 3%;
}
.my_property_list tbody tr td .text {
	width: 65%;
}
.my_property_list tbody tr td {
	padding-left: 0
}
.my_property_list .delete {
	text-align: center;
}
.profile_area #city {
	margin-bottom: 25px
}
.terms_description .terms_deals {
	padding-left: 50px;
}
}
