<div class="zoom_effect_1">
    <div class="upper_1 bg_secondary text-white">
        <%- status === 1 ? 'Vanzare' : 'Inchiriere' %>
    </div>
    <%
        let imageUrl = "";
        if(!(thumbnail.indexOf("http") > -1)) {
            imageUrl += baseImageUrl
        }
        imageUrl+= thumbnail;
    %>
    <a href="<%-propertyUrl %>"><img
            src="<%-imageUrl%>" alt="imagine"></a>
</div>