<h5 class="title"><a href="/<%- status == 1 ? 'vanzare' : 'inchiriere' %>/<%- id %>">
        <%- title %>
    </a>
</h5>
<span class="my-3 d-block"><i class="fas fa-map-marker-alt"></i>
    <%- address %>
</span>