    /*
    Flaticon icon font: Flaticon
    Creation date: 23/09/2017 06:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-warehouse:before { content: "\f100"; }
.flaticon-shop:before { content: "\f101"; }
.flaticon-pin-a-property-for-buy-or-rent:before { content: "\f102"; }
.flaticon-share:before { content: "\f103"; }
.flaticon-upload:before { content: "\f104"; }
.flaticon-like:before { content: "\f105"; }
.flaticon-star:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-notification:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-locked:before { content: "\f10a"; }
.flaticon-signs:before { content: "\f10b"; }
.flaticon-buildings:before { content: "\f10c"; }
.flaticon-pencil-and-paper:before { content: "\f10d"; }
.flaticon-truck-transport-with-construction-materials:before { content: "\f10e"; }
.flaticon-rent-hanging-signal:before { content: "\f10f"; }
.flaticon-law-office:before { content: "\f110"; }
.flaticon-house-for-sale:before { content: "\f111"; }
.flaticon-monument:before { content: "\f112"; }
.flaticon-tool-1:before { content: "\f113"; }
.flaticon-tool:before { content: "\f114"; }
.flaticon-map-marker:before { content: "\f115"; }
.flaticon-bed:before { content: "\f116"; }
.flaticon-home-1:before { content: "\f117"; }
.flaticon-handshake:before { content: "\f118"; }
.flaticon-invoice:before { content: "\f119"; }
.flaticon-home:before { content: "\f11a"; }
.flaticon-paint-brush:before { content: "\f11b"; }
.flaticon-export:before { content: "\f11c"; }
.flaticon-chat:before { content: "\f11d"; }
.flaticon-paintbrush:before { content: "\f11e"; }
.flaticon-multimedia:before { content: "\f11f"; }
.flaticon-city:before { content: "\f120"; }
.flaticon-connections:before { content: "\f121"; }
.flaticon-office:before { content: "\f122"; }
    
    $font-Flaticon-warehouse: "\f100";
    $font-Flaticon-shop: "\f101";
    $font-Flaticon-pin-a-property-for-buy-or-rent: "\f102";
    $font-Flaticon-share: "\f103";
    $font-Flaticon-upload: "\f104";
    $font-Flaticon-like: "\f105";
    $font-Flaticon-star: "\f106";
    $font-Flaticon-settings: "\f107";
    $font-Flaticon-notification: "\f108";
    $font-Flaticon-user: "\f109";
    $font-Flaticon-locked: "\f10a";
    $font-Flaticon-signs: "\f10b";
    $font-Flaticon-buildings: "\f10c";
    $font-Flaticon-pencil-and-paper: "\f10d";
    $font-Flaticon-truck-transport-with-construction-materials: "\f10e";
    $font-Flaticon-rent-hanging-signal: "\f10f";
    $font-Flaticon-law-office: "\f110";
    $font-Flaticon-house-for-sale: "\f111";
    $font-Flaticon-monument: "\f112";
    $font-Flaticon-tool-1: "\f113";
    $font-Flaticon-tool: "\f114";
    $font-Flaticon-map-marker: "\f115";
    $font-Flaticon-bed: "\f116";
    $font-Flaticon-home-1: "\f117";
    $font-Flaticon-handshake: "\f118";
    $font-Flaticon-invoice: "\f119";
    $font-Flaticon-home: "\f11a";
    $font-Flaticon-paint-brush: "\f11b";
    $font-Flaticon-export: "\f11c";
    $font-Flaticon-chat: "\f11d";
    $font-Flaticon-paintbrush: "\f11e";
    $font-Flaticon-multimedia: "\f11f";
    $font-Flaticon-city: "\f120";
    $font-Flaticon-connections: "\f121";
    $font-Flaticon-office: "\f122";